<div class="twt-container">



  <div class="">
    <% if user_signed_in? %>
      <% @records.each do |tweet| %>
        <div class="twt-content">
        <span>
          <% user_decorator = decorate(tweet.user) %>
          <b><%= user_decorator.full_name %>,</b>
          <%= user_decorator.user_name %> -
          <i><%= tweet.created_at %></i>
        </span>
          <p>
            <%= tweet.body %>
          </p>
        </div>

      <% end %>
      <% end %>
  </div>
  <%== pagy_nav(@pagy) if user_signed_in?%>

</div>