
<div class="twt-container">
  <div class="twt-header-compose">
    <%= link_to root_path, class: 'w-30' do %>
      <span class="bck-btn">
        Back
      </span>
    <% end %>
    <span>Follow</span>
    <span class="w-30">
    </span>
  </div>

  <div class="twt-content-new">
    <%= form_for @follow do |form| %>
      <%= form.text_field :user_id , placeholder: "enter username"%><br />
      <div class="">
        <%= form.submit 'Follow', class: 'twt-btn' %>
      </div>
    <% end %>
  </div>
</div>
<div>
  <br/>
    <%= render partial: 'following', locals: {following: @following} %>
</div>
